<template>
	<div>
		<section class="hero is-light is-large">
			<div class="hero-body">
				<div class="container">
					<section class="section">
						<div class="container">
							<h1 class="title">Informations :</h1>
						</div>
					</section>
					<div class="card">
						<div class="card-content">
							<div class="media">
								<div class="media-left">
									<figure class="image is-256x256">
										<img :src="src" alt="Placeholder image" />
									</figure>
								</div>
								<div class="media-content">
									<p class="title is-4 has-text-left">
										<strong style="color:blueviolet">{{maSerie.original_name}}</strong>
									</p>
									<br />
									<p class="title is-6 has-text-left">
										{{$t('Pages.DetailSerie.dateSortie')}} {{maSerie.first_air_date}}
										<strong style="float:right" class="has-text-right">{{$t('Pages.DetailMovie.acteurs')}}</strong>
									</p>
									<p
										class="title is-6 has-text-left"
									>{{$t('Pages.DetailSerie.nationalite')}}{{maSerie.origin_country[0]}}</p>
									<p
										class="title is-6 has-text-left"
									>{{$t('Pages.DetailSerie.langue')}}{{maSerie.original_language}}</p>
									<p
										class="title is-6 has-text-left"
									>{{$t('Pages.DetailSerie.notePublique')}}{{maSerie.vote_average}} / 10</p>
									<p
										class="title is-6 has-text-left"
									>{{$t('Pages.DetailSerie.nbVotes')}}{{maSerie.vote_count}}</p>
								</div>
								<SliderActor v-if="ok" :acteurToSlide="acteur"></SliderActor>
							</div>
							<div>
								<p class="title is-4 has-text-left">Description</p>
								<p class="subtitle is-6 has-text-justified">{{maSerie.overview}}</p>
								<CommentaireSerie style="text-align:right;" :id="maSerie.id"></CommentaireSerie>
							</div>
						</div>
					</div>
					<div style="margin-top:1%" class="columns is-multiline is-8-fullscreen">
						<seasons v-for="info in seasonNumber" v-bind:key="info" :infoOnSeason="info" :nb="nbSeason"></seasons>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h1 class="title">Trailer :</h1>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<VideoPlayer v-bind:urlFilm="url"></VideoPlayer>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h1 class="title">{{$t('Pages.DetailSerie.recommandations')}}</h1>
			</div>
		</section>
		<Slider :info="recom"></Slider>
	</div>
</template>

<script>
import VideoPlayer from "./VideoPlayer.vue";
import Slider from "./Slider.vue";
import SliderActor from "./SliderActor";
import Seasons from "./season.vue";
import CommentaireSerie from "./CommentaireSerie.vue"

export default {
	name: "DetailSerie",
	components: {
		VideoPlayer,
		SliderActor,
		Slider,
		Seasons,
		CommentaireSerie
	},
	props: {
		urlFilm: String,
		recommand: {},
		detailSerie: {}
	},
	data() {
		return {
			url: "",
			src: "",
			ok: Boolean,
			recom: [],
			maSerie: {},
			acteur: [],
			lang: "",
			moreInfo: [],
			seasonNumber: [],
			nbSeason:""
		};
	},
	created() {
		this.maSerie = this.detailSerie;
		this.ok = false;
		this.lang = this.$t("lang");
		this.src = "http://image.tmdb.org/t/p/w185/" + this.maSerie.poster_path;
		console.log(this.maSerie);
		this.url = "https://www.youtube.com/watch?v=" + this.urlFilm;
		for (let i = 0; i < this.recommand.length; i++) {
			this.recom.push(this.recommand[i]);
			//console.log("Recommandation : " + this.recommand[i]);
		}
		//Récupérer les infos des acteurs
		//https://api.themoviedb.org/3/movie/99935/credits?api_key=515c074644f61362e6d98769af640004
		var api_key = "515c074644f61362e6d98769af640004";
		this.axios
			.get(
				"https://api.themoviedb.org/3/tv/" +
					this.maSerie.id +
					"/credits?api_key=" +
					api_key
			)

			.then(response => {
				console.log(response);
				if (response.data.cast.length > 0) {
					this.acteur = [];
					for (let i = 0; i < response.data.cast.length; i++) {
						var data = response.data.cast[i];
						this.acteur.push(data);
					}
					if (this.acteur.length > 0) {
						this.ok = true;
					}
					console.log("Mes acteurs : " + this.acteur);
				}
			});

		this.axios
			.get(
				"https://api.themoviedb.org/3/tv/" +
					this.maSerie.id +
					"?api_key=" +
					api_key +
					"&language=" +
					this.lang
			)
			.then(response => {
				this.moreInfo.push(response.data);
				if (this.moreInfo[0].seasons.length > 0) {
					this.nbSeason = this.moreInfo[0].seasons.length;
					for (let i = 0; i < this.moreInfo[0].seasons.length; i++) {
						var data = this.moreInfo[0].seasons[i];
						this.seasonNumber.push(data);
					}
				}
			});
	}
};
</script>

<style lang="scss" scoped>
</style>