<template>
<div id='footer'>
    <footer class="footer">
    <div class="content has-text-centered">
        <p>
     {{ $t('Pages.Footer.production1') }}
            <br />
        </p>
        <p id="nom">{{ $t('Pages.Footer.production2') }}</p>
			<a href="https://fr-fr.facebook.com/iutdenantes/" target="_blank"><i style="color:#3b5998;font-size:3em; margin-right:4%" class="fab fa-facebook-square"></i></a>
			<i>    </i>
			<a href="https://twitter.com/iutnantes" target="_blank"><i style="color:#00aced;font-size:3em;margin-right:4%" class="fab fa-twitter"></i></a>
            <a href="https://gitlab.com/antranig1/kevork_viaud_projectsitewebmethodologiededeveloppement" target="_blank"><i style="color:#fc6d26;font-size:3em; "  class="fab fa-gitlab"></i></a>
    </div>
    <p class=" subtitle has-text-centered is-6">Engagement de confidentialité  |  Conditions d’utilisation  |  Mentions légales  |  Plan du site</p>
</footer>
</div>
</template>

<script>
export default {
    name: "Footer"
}
</script>
